body{
    background-color: dimgrey;
    width: 1920px;
    height: 1080px;
    margin: 0;
    position: relative;
    padding-top: 60px;
}
button{
    background-color: gray;
    border-width: 3px;
    border-style: solid;
    border-color: #756d6d;
    width: 150px;
    height: 50px;
    font-size: 20px;
}
.form.Login{
    white-space: nowrap;
    background-color: gray;
    border-width: 3px;
    border-style: solid;
    border-color: #756d6d;
    position: absolute;
    width: 340px;
    font-size: 20px;
    display: none;
    left: 340px;
    top: 520px;
    label { display: inline-block; width: 140px; }
}

.form{
    background-color: gray;
    border-width: 3px;
    border-style: solid;
    border-color: #756d6d;
    position: absolute;
    width: 320px;
    font-size: 20px;
    display: none;
    left: 350px;
    top: 610px;
    label { display: inline-block; width: 160px; }
    input[type="number"] { float: right; width: 60px; }
    input[type="checkbox"] { float: right; }
}

.form.Grenades{
    top: 520px;
}
.Filter{
    top: 220px;
    height: 200px;
    font-size: 12px;
    z-index: 100;
}

.Alert{
    font-size: 25px;
    color: red;
    width: 300px;
    text-align: center;
    position: absolute;
    top: 330px;
    left: 360px;
}

.form.Cart{
    left: 225px;
    width: 600px;
    top: 525px;
    overflow-y: auto;
}

.Cart li {
    white-space: nowrap;
}

.form.Medical{
    top: 520px;
}

.form.Food{
    top: 520px;
}

.form.Ammunition{
    top: 520px;
}

.form.Extra{
    top: 520px;
}

.warning{
    position: absolute;
    color: gray;
    top: 440px;
    left: 120px;
}

img{
    position: absolute;
    z-index: -1;
}

.form.Filter ul {
    position: absolute;
    top: 270px;
    left: -310px;
    width: 930px;
    height: 200px;
    z-index: 2;

    background-color: #dcdcdc;
    border: 3px solid #756d6d;

    overflow-y: auto;
    padding: 10px;
    margin: 0;
    list-style: none;
}

.form.Filter li {
    z-index: 2;
    border-bottom: 1px solid #756d6d;
    color: black;
}

.form.Download {
    position: absolute;
    top: 120px;
    height: 50px;
    left: 838px;
    width: 150px;
    border: none;
    z-index: 10;
    display: none;
}
